<div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="start center"
    fxLayoutAlign.xs="start start"
    fxLayoutAlign.sm="start start"
    fxLayoutGap="5px">
    <a ngClass.xs="navbar-links" ngClass.sm="navbar-links" mat-button routerLink="/companies">
        Companies
    </a>
    <a ngClass.xs="navbar-links" ngClass.sm="navbar-links" mat-button routerLink="/departments">
        Departments
    </a>
    <a ngClass.xs="navbar-links" ngClass.sm="navbar-links" mat-button routerLink="/categories">
        Categories
    </a>
    <a ngClass.xs="navbar-links" ngClass.sm="navbar-links" mat-button routerLink="/sub-categories">
        Subcategories
    </a>
    <a ngClass.xs="navbar-links" ngClass.sm="navbar-links" mat-button routerLink="/skills">
        Skills
    </a>
</div>