<div fxLayout="row">
    <div fxFlex="15"></div>
    <div fxLayout="column">
        <h3>Companies</h3>

        <button color="primary" (click)="openCreateCompanyModal()" mat-raised-button class="create-company">Create New Company</button>

        <div class="mat-elevation-z8 table-container">
            <div class="loading-spinner-overlay" *ngIf="!companies">
                <mat-spinner color="accent"></mat-spinner>
            </div>
            <mat-list>
                <mat-list-item [routerLink]="company.id" *ngFor="let company of companies">
                    <div>{{ company.name }}</div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>