<div *ngIf="inputForm">
    <h2 mat-dialog-title>Create New Subcategory</h2>
    <mat-dialog-content class="dialog-container">
        <form [formGroup]="inputForm">
            <mat-form-field class="material-select-inline" class="width-100">
                <mat-select placeholder="Company" formControlName="companyId">
                    <mat-option *ngFor="let company of companies" [value]="company.id">
                        <span>{{ company.name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="width-100">
                <input type="text" disabled="true" name="departmentName" matInput placeholder="Department" [value]="department.name">
            </mat-form-field>

            <mat-form-field class="width-100">
                <input type="text" disabled="true" name="categoryName" matInput placeholder="Category" [value]="category.name">
            </mat-form-field>

            <mat-form-field class="width-100">
                <input type="text" formControlName="name" name="subCategoryName" matInput placeholder="Subcategory Name">
                <mat-error *ngIf="formErrors.get('name')">
                    {{ formErrors.get('name') }}
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
            [disabled]="showLoadingSpinner['createSubCategory'] || !inputForm.valid"
            color="primary"
            (click)="createSubCategory()"
            mat-button>
            <span>Save</span>
            <mat-progress-spinner
                *ngIf="showLoadingSpinner['createSubCategory']"
                mode="indeterminate"
                diameter="25"
                class="inline-block">
            </mat-progress-spinner>
        </button>
        <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
    </mat-dialog-actions>
</div>