<div>
    <form fxLayout="column" class="url-redirect-form" [formGroup]="urlRedirectForm" (ngSubmit)="updateUrlRedirectForm()">
        <mat-form-field>
            <input name="urlRedirectTaskName" matInput formControlName="name" placeholder="Skill Name" (blur)="copyNameToURLName()">
            <mat-error *ngIf="formErrors.get('name')">
                {{ formErrors.get('name') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input name="urlName" matInput formControlName="urlName" placeholder="Button Text to Display">
            <mat-error *ngIf="formErrors.get('urlName')">
                {{ formErrors.get('urlName') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input name="url" matInput formControlName="url" placeholder="URL to Share">
            <mat-error *ngIf="formErrors.get('url')">
                {{ formErrors.get('url') }}
            </mat-error>
        </mat-form-field>

        <app-department-filter
            [fxLayoutGap]="'10px'"
            [currentSubCategoryId]="urlRedirect.departmentSubCategoryId"
            (emptySelection)="clearSubCategory()"
            (selectionChange)="applyDepartmentFilter($event)">
        </app-department-filter>

        <div class="inline-slide-toggle" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="15px">
            <app-ap-specialized-bot-persona-filter
                [specializedBotPersonas]="specializedBotPersonas"
                [currentSpecializedBotPersonaId]="urlRedirect.specializedBotPersonaId"
                (selectionChange)="saveSpecializedBotPersona($event)">
            </app-ap-specialized-bot-persona-filter>
        </div>

        <div class="inline-slide-toggle" fxLayoutGap="15px">
            <mat-slide-toggle matTooltipClass="tooltip-expanded" matTooltip="Hide this procedure when using menu button navigation to prevent very large menus from scrolling in PivBot. Users can still access the procedure via LUIS." color="primary" formControlName="hiddenFromMenu">Hidden From Menu</mat-slide-toggle>
            <mat-slide-toggle matTooltipClass="tooltip-expanded" matTooltip="" color="primary" formControlName="resellerManaged">Reseller Managed</mat-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <button
                [disabled]="showLoadingSpinner['saveUrlRedirect'] || showLoadingSpinner['loading'] || !urlRedirectForm.valid || !formDataChangeDetected"
                class="save-button"
                color="primary"
                mat-raised-button>
                <span>Save</span>
                <mat-progress-spinner
                    *ngIf="showLoadingSpinner['saveUrlRedirect'] || showLoadingSpinner['loading']"
                    mode="indeterminate"
                    diameter="25"
                    class="inline-block">
                </mat-progress-spinner>
            </button>

            <button
                *ngIf="!showLoadingSpinner['saveUrlRedirect'] && !showLoadingSpinner['loading'] && formDataChangeDetected"
                type="button"
                class="save-button"
                color="primary"
                (click)="cancelChanges()"
                mat-raised-button>
                <span>Cancel</span>
            </button>
        </div>
    </form>
</div>