.radio-group-container {
    height: 320px;
}

.radio-secondary-display {
    font-size: 12px;
    color: #808080;
}

.radio-primary-display {
    font-weight: 600;
}

.procedure-radio {
    margin: 2px;
}