.mat-form-field {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.mat-divider {
    border-top-width: 3px;
    border-top-style: dashed;
    border-top-color: rgba(0, 0, 0, 0.5);
}