.material-textarea-inline {
    max-width: 300px;
    width: 100%;
}

.material-input-inline, .material-select-inline {
    max-width: 120px;
    width: 100%;
}

.message-container {
    position: relative;
}